body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CUSTOM  */
.visualiser-container {
  width: 100%;
  height: 100%;
  background-color: black;
}
.bar {
  /* padding-left: 0.1em;
  padding-right: 0.1em; */
  width: 0.8em;
  background-color: blue;
  flex-direction: row-reverse;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
}
.scale-row {
  margin-right: auto;
  margin-left: auto;
}
